extends layout

block content


  h1= title

  p Welcome to #[em Dynamic Duos], an initial page modelled for the dynamic duos project.
  if error
    p Error getting dynamic content.
  else
    p This is the current state of the database of dynamic duos users. 
    ul
      p 
        
          li #[strong Attribute:] !{data.attribute_count}
          li #[strong Partner:] !{data.partner_count} 
          li #[strong User:] !{data.user_count}

      a(href='/duos/user_registration') Sign up
     
