extends layout

block content


    h1= title
    if error
      p Error getting dynamic content.
    else
      ul
        p 
          | Welcome to #[em Dynamic Duos], an initial page modelled for the dynamic duos project.
          | Dynamic duos is motivated by the need to match students in Princeton COS classes
          | based on their skill levels for a richer classroom learning experience.

          form(method='POST' action='')
            div.form-group
              label(for='email') Email Address:
              input#background.form-control(type='text', placeholder='Email' name='email' required='true')
            
            div.form-group
              label(for='familyName') Password:
              input#family_name.form-control(type='text', placeholder='Password' name='password' required='true')
          
            button.btn.btn-primary(type='submit') Log in 
            
            p
            
            | Not a user? 
  
            a(href='/duos/user_registration') Sign up here

          if errors 
            ul
              for error in errors
                li!= error.msg