extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='firstName') First Name:
      input#background.form-control(type='text', placeholder='First Name' name='firstName' required='true')
    
    div.form-group
      label(for='familyName') Family name:
      input#family_name.form-control(type='text', placeholder='Family Name' name='familyName' required='true')
    
    div.form-group
      label(for='email') Email:
      input#language.form-control(type='text', placeholder='Email' name ='email' required='true')

    div.form-group
      label(for='password') Password:
      input#background.form-control(type='text', placeholder='Password' name='password' required='true')
    
    div.form-group
      label(for='passwordConf') Confirm Password:
      input#background.form-control(type='text', placeholder='Confirm password' name='passwordConf' required='true')
    
    div.form-group
      label(for='course') Course:
      input#language.form-control(type='text', placeholder='Course' name ='course' required='true')

    

      br
      button.btn.btn-primary(type='submit') Sign up


    if errors 
      ul
        for error in errors
          li!= error.msg